[Desktop Entry]
Name=Terminal
GenericName=Terminal Emulator
Comment=A simple yet customizable terminal emulator
Exec=terminal
Icon=terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;Utility;
Keywords=terminal;console;command;shell;bash;zsh;
StartupNotify=true
StartupWMClass=terminal
